<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col size="4"></ion-col>

      <ion-col size="4">
        <ion-card
          style=" width:75px; height:33px; margin-left:-30px; text-align:center ;  font-weight: bold; background-color:#3196A8; color: aliceblue; font-size: 26px;">
          {{this.routenum}}</ion-card>
        

      </ion-col>
      <ion-col size="4">
        <ion-button (click)="openPicker()">日期</ion-button>

      </ion-col>
    </ion-row>
  
  </ion-toolbar >
<ion-toolbar >
  <div *ngIf="this.showfirst != null" style="background-color: white;">
    <p style="text-align:center;">報告日期:{{this.enterdate}}</p>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col size="3">
      頭班車:
          </ion-col>
          <ion-col size="4">
           {{this.showfirst.vid}}
                </ion-col>
                <ion-col size="4">
                  {{this.showfirst.first}}
                       </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="3">
            尾班車:
                </ion-col>
                <ion-col size="4">
                 {{this.showlast.vid}}
                      </ion-col>
                      <ion-col size="4">
                        {{this.showlast.last}}
                             </ion-col>

        </ion-row>
      </ion-grid>
      
          </ion-card>
  </div>
</ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.reportresult == null">
  請輸入日期
  </div>
  <div *ngIf="this.reportresult != null">
   
  

    <ion-card >
      <ion-grid>
        <ion-row>
        
          <ion-col size="4">
            車牌
          </ion-col>
          <ion-col size="4">
           路線來回
          </ion-col>
          <ion-col size="4">
            行程
          </ion-col>
        </ion-row>
      </ion-grid>
    
    </ion-card>
    <ion-card style="background-color: rgb(205, 238, 190);" *ngFor="let item of this.reportresult">
      <ion-grid (click)="this.nextpage(item)">
        <ion-row>
          <ion-col size="4">
            {{item.vid}}

          </ion-col>
          <ion-col size="4">
            {{item.TripInfo.length}}

          </ion-col>
          <ion-col size="4">
           
            {{item.lc}} KM
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card>
    <ion-card>
      <ion-grid>
        <ion-row>
      
          <ion-col size="4">
            車輛
          </ion-col>
          <ion-col size="4">
            總來回
          </ion-col>
          <ion-col size="4">
            總里數
          </ion-col>
        </ion-row>
        <ion-row>
         
          <ion-col size="4">
    {{this.totalvehi}}
  
          </ion-col>
          <ion-col size="4"> 
        {{this.totalround}}
  
          </ion-col>
          <ion-col size="4">
         
            {{this.totalmile}} KM
          </ion-col>
        </ion-row>
      </ion-grid>
  
    </ion-card>
    </div>
  
</ion-content>
<ion-toolbar>
 
</ion-toolbar>

