<ion-header>
  
  
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/setting"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:center;">
      註冊成員
    </ion-title>
  </ion-toolbar>
  

</ion-header>


<ion-content> 
<div class="login-box">    
  <form (ngSubmit)="register()" #registerForm="ngForm">
    <ion-row>
      <ion-col>
        <ion-list inset>            
          <ion-item [hidden]="needVerification">
            <ion-input type="text" placeholder="電話" name="phone" [(ngModel)]="phone" required></ion-input>
          </ion-item>
          
          <ion-item [hidden]="needVerification">
            <ion-input type="password" placeholder="密碼" name="password" [(ngModel)]="password" required></ion-input>
          </ion-item>        
        
          <ion-item >
            <ion-input type="text" placeholder="路線" name="route" [(ngModel)]="route"></ion-input>
          </ion-item>
            <ion-item>
              <ion-select placeholder="管理人員" name="admin" [(ngModel)]="admin">
                <ion-select-option value="1">是</ion-select-option>
                <ion-select-option value="0">否</ion-select-option>
               
              </ion-select>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col class="signup-col">
        <ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.form.valid">註冊</ion-button>
      </ion-col>
    </ion-row>      
  </form>
</div>
</ion-content>

