<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="report"></ion-back-button>
    </ion-buttons>
    <ion-row>
      <ion-col size="4"></ion-col>

      <ion-col size="4">
        <ion-card
          style=" width:75px; height:33px; margin-left:-30px; text-align:center ;  font-weight: bold; background-color:#3196A8; color: aliceblue; font-size: 26px;">
          {{this.route}}</ion-card>


      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col style="margin-left:-30px ;" size="4">
        {{this.plate}}
      </ion-col>
      <ion-col size="3">

      </ion-col>
      <ion-col size="5">
        {{this.date}}
      </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>

    <ion-card>
      <ion-row>
        <ion-col size="3">
          開車時間
        </ion-col>
        <ion-col size="3">
          總站時間
        </ion-col>
        <ion-col size="3">
          每程總時間
        </ion-col>
        <ion-col size="3">
          每程里數
        </ion-col>
      </ion-row>
    </ion-card>
<ion-card *ngFor="let item of this.dispalyarray">
<ion-row>
  <ion-col size="3">
    {{item.str}}
  </ion-col>
  <ion-col size="3">
    {{item.end}}
  </ion-col>
  <ion-col size="3">
    {{item.time}}分
  </ion-col>
  <ion-col size="3">
    {{item.mile}}KM
  </ion-col>
</ion-row>
</ion-card>
  </ion-grid>
</ion-content>