<ion-header>

</ion-header>

<ion-content class="bg_login" padding>
  <br>
  <img src="https://samson-document.s3.ap-east-1.amazonaws.com/vantitle.png"  style="display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -50px;
  width: 150px;">
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <br>
        <br>
        <br>
        <!-- <img src="../../assets/isca.png" class="logo" alt="logo"> -->
        <br>
        <div text-center>

        </div> 
        <div class="login">
          <ion-item>
            <ion-label>
              <ion-icon name="person" item-left></ion-icon>
            </ion-label>
            <ion-input (keyup.enter)="gotoNextField(Field1)" class="box" type="text" [(ngModel)]="userdata.username" placeholder="電話"></ion-input>
          </ion-item>
 
          <ion-item >
            <ion-label>
              <ion-icon name="lock-closed"></ion-icon>
            </ion-label>
            <ion-input #Field1 (keyup.enter)="login()" type="password" [(ngModel)]="userdata.password" placeholder="密碼/Password" ngModel required></ion-input>

          </ion-item>
        </div>
        <br>
        <div>
          <ion-button class="bg_loginbtn" size="large" (click)="login()" expand="block">登入系統/Login</ion-button>
        </div>
      </ion-col>
    </ion-row>
  
  <!-- <ion-row>
    <ion-col>
     忘記密碼
    </ion-col>
  </ion-row> -->
  </ion-grid>
<h5 style="margin-left:10px; margin-top:30px; color: rgb(141, 141, 141);" (click)="this.forpw()">忘記密碼</h5>
</ion-content>
