<ion-header>

</ion-header>

<ion-content>
 <ion-card style="height: 100px;">
 
<h3 style="text-align: center;">{{this.company}}</h3>
 </ion-card>
 <ion-card>
  <ion-item>
    <ion-col size="1">
      <ion-icon name="person"></ion-icon>
    </ion-col>
    <ion-col size="5">
      <ion-label >
  信息
      </ion-label>
    </ion-col>
    
  </ion-item>

  <ion-item>
    <ion-col size="1">
      <ion-icon name="warning-outline"></ion-icon>
    </ion-col>
    <ion-col size="5">
      <ion-label (click)="this.logout()">
        私隱聲明
      </ion-label>
    </ion-col>
  
  </ion-item>
  <ion-item>
    <ion-col size="1">
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-col>
    <ion-col size="5">
      <ion-label (click)="this.changepassword()">
        修改密碼
      </ion-label>
    </ion-col>
  
  </ion-item>
  <div *ngIf="this.admin == 1">
    <ion-item>
      <ion-col size="1">
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-col>
      <ion-col size="5">
        <ion-label (click)="this.newuser()">
      註冊
        </ion-label>
      </ion-col>
    
    </ion-item>

  </div>
 </ion-card>
  
    <ion-button expand="block" shape="round" (click)="this.logout()">登出</ion-button>

  
</ion-content>

