<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button tab="google">
      <ion-icon name="map"></ion-icon>
      <ion-label>地圖</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab2">
    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M18 18L14.3661 0H9.88036L10.0178 4.15012H7.98216L8.11962 0H3.63384L0 18H7.52343L7.69504 12.8183H10.3049L10.4766 18H18ZM10.2536 11.2685H7.74639L7.94858 5.16399H10.0514L10.2536 11.2685Z"
        fill="#7C7C7C" />
    </svg>

      <ion-label>路線</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="appoint">
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>分派</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="tab3">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>報告</ion-label>
    </ion-tab-button>

  <ion-tab-button tab="setting">
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>設定</ion-label>
  </ion-tab-button>
</ion-tab-bar>

</ion-tabs>
