<ion-toolbar>
 
      <!-- <ion-searchbar id="searchbar" (ionChange)="searchvid($event)" (ionClear)="this.clearseach()" color="translucent"
          placeholder="搜尋路線" showCancelButton="focus"></ion-searchbar> -->
  </ion-toolbar>
  <ion-content>
      <ion-item (click)= "this.getroute(item)" *ngFor="let item of this.route;">
          <ion-grid>
          <ion-row>
          <ion-col size="3.2">
          <ion-card style="margin-top:-5px; margin-left:-8px; width:70px; height:30px; text-align:center ;  font-weight: bold; background-color:#3196A8; color: aliceblue; font-size: 22px;">{{item.id}}</ion-card>
          </ion-col>
          <ion-col size="8">
              {{item.rname}}
          </ion-col>
          
          </ion-row>
         
       
          </ion-grid>
          </ion-item>
  
  
  </ion-content>
  
