<ion-header>
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
</ion-buttons>
<ion-row>
<ion-col size="4"></ion-col>

<ion-col size="4"><ion-card
  style=" width:75px; height:33px; margin-left:-30px; text-align:center ;  font-weight: bold; background-color:#3196A8; color: aliceblue; font-size: 26px;">
  {{this.routenum}}</ion-card></ion-col>
<ion-card style="margin-bottom:11px;margin-top:5px;width:60px; height: 33px; text-align: center; font-size: 26px; font-size: 20px; font-weight: bold; ">
  {{this.time}}
</ion-card>
</ion-row>
  </ion-toolbar>
</ion-header>

<ion-segment style="background-color:#f4ffea;" [(ngModel)]="this.roundtrip" (ionChange)="getrouteapi($event)">
  
    <ion-segment-button  value= {{this.stationname}}>
      {{this.stationname}}
     </ion-segment-button>

  

</ion-segment>

<ion-content> 
  <!-- <ion-refresher slot="fixed" (ionPull)="this.refresh($event)">
    <ion-refresher-content  pullMin="100" pullMax="200">


    </ion-refresher-content>
  </ion-refresher> -->
  
<div  class="vl"></div>
  <div  *ngFor="let item of this.zone;let recordIndex = index;" style="margin-bottom: -30px;">
    <ion-grid>
<ion-row>
  <ion-col size="3">
    <div *ngFor="let stn of item.stn;">
      <div [ngStyle]="{'margin-top.px':stn.dist}">
      <ion-card style=" border-radius: 20px;">
        
        <p style="font-size:25px ; margin-left:5px ;">
          
            {{stn.name}}
          
          
        </p>
      
      </ion-card>
    </div>
      </div>
  </ion-col>
  <ion-col size="9">
    <div *ngIf="item.diplay == 'collapse'" style="margin-top:10px;">
     
      <ion-accordion-group  >
        <ion-accordion value="first" toggle-icon="" >
          <ion-card slot="header" style="background-color:#51b352; color:aliceblue;">
          <!-- <ion-item  style="border-radius: 10px; height: 30px; " >-->
            
              <ion-row class ='vid'>
                <ion-col size="6" >
                  <ion-label style="margin-top:-15px;">{{item.vid.length}}輛車 </ion-label>
                </ion-col>
                <ion-col size="4" >
                  <ion-label style="margin-top:-15px;"> 詳細</ion-label>
                </ion-col>
              </ion-row>
       
        
              
          
           
          <!--</ion-item> -->
        </ion-card>


          <div  slot="content" *ngFor="let vid of item.vid; " style="margin-bottom:5px; margin-left: 10px ; ">
            <ion-col size="4" class ='vid' >
              {{vid.nm}}
            </ion-col>
           
          </div>
        </ion-accordion>

      </ion-accordion-group>
    </div>
   




    <div *ngIf="item.zonecolor == 0 && item.diplay == 'full' "  style="height: 100%;">
      <ion-card style="height: 90%;" >
        <p style="font-weight:bold ; font-size: 20px; margin-top:-2.5px;" class="word0 " >{{item.name}}</p>
        <div *ngFor="let vid of item.vid;"  >
       
    
            <div [ngStyle]="{'margin-top.px':vid.dis}">
              <div *ngIf="vid.status == 0 && vid.currentACCStatusOn == 1" style="color: rgb(45, 176, 65); margin-bottom:10px; font-weight:bold ; font-size: 15px;" >
                <ion-grid>
                  <ion-row class ='vid'>
                    <ion-col size="5" > 
                      <div (click)= "this.getvideo(vid)"  >

                      {{vid.nm}}
                      </div>
                    </ion-col>
                    <ion-col size="4">
                      {{vid.time}}
                    </ion-col>
                  
               
                  <ion-col size="3">
                    <div *ngIf="vid.people == '0%'" >
                      <ion-card style="width:40px; margin-top: -3px; background-color: rgb(165, 187, 208); ">
                     {{vid.people}}
                    </ion-card>
                      </div>
                      <div *ngIf="vid.people == '25%'" >
                        <ion-card style="width:40px; margin-top: -3px; background-color: rgb(121, 246, 151); ">
                       {{vid.people}}
                      </ion-card>
                         </div>
                        <div *ngIf="vid.people == '50%'" >
                          <ion-card style="width:40px; margin-top: -3px; background-color: rgb(96, 209, 70); ">
                         {{vid.people}}
                        </ion-card>
                          </div>
                          <div *ngIf="vid.people == '75%'" >
                            <ion-card style="width:40px; margin-top: -3px; background-color: rgb(234, 140, 114); ">
                           {{vid.people}}
                          </ion-card>
                            </div>
                            <div *ngIf="vid.people == '100%'" >
                              <ion-card style="width:40px; margin-top: -3px; background-color: rgb(249, 97, 128); ">
                             {{vid.people}}
                            </ion-card>
                              </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
               
              </div>
            </div>
            
            <div [ngStyle]="{'margin-top.px':vid.dis}">
              <div *ngIf="vid.status == 1 && vid.currentACCStatusOn == 1" style="color: rgb(218, 75, 75); margin-bottom:10px; font-weight:bold ; font-size: 15px;" >
                <ion-grid>
                  <ion-row class ='vid'>
                    <ion-col size="5" > 
                      <div (click)= "this.getvideo(vid)">
                      {{vid.nm}}
                      </div>
                    </ion-col>
                    <ion-col size="4">
                      {{vid.time}}
                    </ion-col>
                
                  <ion-col size="3">
                    <div *ngIf="vid.people == '0%'" >
                      <ion-card style="width:40px;  background-color: rgb(165, 187, 208); ">
                     {{vid.people}}
                    </ion-card>
                      </div>
                      <div *ngIf="vid.people == '25%'" >
                        <ion-card style="width:40px; background-color: rgb(121, 246, 151); ">
                       {{vid.people}}
                      </ion-card>
                        </div>
                        <div *ngIf="vid.people == '50%'" >
                          <ion-card style="width:40px;  background-color: rgb(96, 209, 70); ">
                         {{vid.people}}
                        </ion-card>
                          </div>
                          <div *ngIf="vid.people == '75%'" >
                            <ion-card style="width:40px;  background-color: rgb(234, 140, 114); ">
                           {{vid.people}}
                          </ion-card>
                            </div>
                            <div *ngIf="vid.people == '100%'" >
                              <ion-card style="width:40px; background-color: rgb(249, 97, 128); ">
                             {{vid.people}}
                            </ion-card>
                              </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
                
              </div>
            </div>
            
            <div [ngStyle]="{'margin-top.px':vid.dis}">

            </div>
            <div *ngIf="vid.currentACCStatusOn == 0" style="color: rgb(136, 136, 136); margin-bottom:10px; font-weight:bold ; font-size: 15px; " >
              <ion-col size="4" class ='vid'>
                <div (click)= "this.getvideo(vid)" >

                {{vid.nm}}
                </div>
              </ion-col>
              <ion-col size="4">
               
              </ion-col>
            </div>
          
          
        </div>
        
        </ion-card> 
    </div>
    <div *ngIf="item.zonecolor == 1 && item.diplay == 'full'" style="height: 100%; margin-left:-5px">
      <ion-card   style="height: 90%; background-color: #daa3a2;">
        <p style="font-weight:bold ; font-size: 20px; margin-top:-2.5px;" class="word0 " >{{item.name}}</p>
        <div *ngFor="let vid of item.vid;" >
        

            <div [ngStyle]="{'margin-top.px':vid.dis}">
              <div *ngIf="vid.status == 0 && vid.currentACCStatusOn == 1" style="color: rgb(45, 176, 65); margin-bottom:10px; font-weight:bold ; font-size: 15px; "  >
               <ion-grid>
                <ion-row class ='vid'>
                  <ion-col size="5" > 
                    <div (click)= "this.getvideo(vid)">
                    {{vid.nm}}
                    </div>
                  </ion-col>
                  <ion-col size="4">
                    {{vid.time}}
                  </ion-col>
               
               
                  <ion-col size="3">
                    <div *ngIf="vid.people == '0%'" >
                      <ion-card style="width:40px; margin-top: -3px; background-color: rgb(165, 187, 208); ">
                     {{vid.people}}
                    </ion-card>
                      </div>
                      <div *ngIf="vid.people == '25%'" >
                        <ion-card style="width:40px; margin-top: -3px; background-color: rgb(121, 246, 151); ">
                       {{vid.people}}
                      </ion-card>
                        </div>
                        <div *ngIf="vid.people == '50%'" >
                          <ion-card style="width:40px; margin-top: -3px; background-color: rgb(96, 209, 70); ">
                         {{vid.people}}
                        </ion-card>
                          </div>
                          <div *ngIf="vid.people == '75%'" >
                            <ion-card style="width:40px; margin-top: -3px; background-color: rgb(234, 140, 114); ">
                           {{vid.people}}
                          </ion-card>
                            </div>
                            <div *ngIf="vid.people == '100%'" >
                              <ion-card style="width:40px; margin-top: -3px; background-color: rgb(249, 97, 128); ">
                             {{vid.people}}
                            </ion-card>
                              </div>
                  </ion-col>
                </ion-row>
              </ion-grid>
              </div>
            </div>

            <div [ngStyle]="{'margin-top.px':vid.dis}">
              <div *ngIf="vid.status == 1 && vid.currentACCStatusOn == 1" style="color: rgb(218, 75, 75); margin-bottom:10px;font-weight:bold ; font-size: 15px; " >
                <ion-grid>
                  <ion-row class ='vid'>
                    <ion-col size="5" > 
                      <div (click)= "this.getvideo(vid)">
                      {{vid.nm}}
                      </div>
                    </ion-col>
                    <ion-col size="4">
                      {{vid.time}}
                    </ion-col>
                  
                
                  <ion-col size="3">
                    <div *ngIf="vid.people == '0%'" >
                      <ion-card style="width:40px; margin-top: -3px; background-color: rgb(165, 187, 208); ">
                     {{vid.people}}
                    </ion-card>
                      </div>
                      <div *ngIf="vid.people == '25%'" >
                        <ion-card style="width:40px; margin-top: -3px; background-color: rgb(121, 246, 151); ">
                       {{vid.people}}
                      </ion-card>
                        </div>
                        <div *ngIf="vid.people == '50%'" >
                          <ion-card style="width:40px; margin-top: -3px; background-color: rgb(96, 209, 70); ">
                         {{vid.people}}
                        </ion-card>
                          </div>
                          <div *ngIf="vid.people == '75%'" >
                            <ion-card style="width:40px; margin-top: -3px; background-color: rgb(234, 140, 114); ">
                           {{vid.people}}
                          </ion-card>
                            </div>
                            <div *ngIf="vid.people == '100%'" >
                              <ion-card style="width:40px; margin-top: -3px; background-color: rgb(249, 97, 128); ">
                             {{vid.people}}
                            </ion-card>
                              </div>
                  </ion-col>
                </ion-row>
          
                </ion-grid>
               
              </div>
            </div>
           
          
            <div *ngIf="vid.currentACCStatusOn == 0" style="color: rgb(136, 136, 136); margin-bottom:10px; font-weight:bold ; font-size: 15px;" >
              <ion-col size="4" class ='vid'>
                <div (click)= "this.getvideo(vid)">
                {{vid.vid}} 
                </div>
              </ion-col>
              <ion-col size="4">
               
              </ion-col>
            </div>
    
          
        </div>
      
        </ion-card>
    </div>
    <div *ngIf="item.name == '不提供服務'" style="margin-top:10px;">
     
      <ion-accordion-group  >
        <ion-accordion value="first" toggle-icon="" >
          <ion-card slot="header" style="background-color:#c5c5c5; color:aliceblue;">
          <!-- <ion-item  style="border-radius: 10px; height: 30px; " >-->
            
              <ion-row class ='vid'>
                <ion-col size="8" >
                  <ion-label style="margin-top:-15px;">不提供服務 :{{item.vid.length}}輛 </ion-label>
                </ion-col>
                <!-- <ion-col size="4" >
                
                </ion-col> -->
              </ion-row>
       
        
              
          
           
          <!--</ion-item> -->
        </ion-card>


          <div  slot="content" *ngFor="let vid of item.vid; " style="margin-bottom:5px; margin-left: 10px ; ">
            <ion-col size="4" class ='vid' >
              {{vid.nm}}
            </ion-col>
           
          </div>
        </ion-accordion>

      </ion-accordion-group>
    </div>
  </ion-col>
</ion-row>

    </ion-grid>

  </div>
   
</ion-content>

