.word0{
    background-color: rgb(201, 201, 201);
    }
.word1{
    background-color: rgb(255, 208, 179);
}
.word2{
    background-color: rgb(255, 251, 179);
    }
    .word3{
        background-color: rgb(216, 255, 179);
        }
        .word4{
            background-color: rgb(179, 255, 206);
            }

            .word5{
                background-color: rgb(179, 242, 255);
                }

                .word6{
                    background-color: rgb(179, 207, 255);
                    }
                    .word7{
                        background-color: rgb(197, 179, 255);
                        }
                        .word8{
                            background-color: rgb(198, 179, 255);
                            }
    
                            .vl {
                                border-left: 24px solid green;
                                height: 200%;
                                position: absolute;
                                // left: 50%;
                                margin-left: 50px;
                                margin-top: -30px;
                                top: 0;
                               
                              }

 .vid{
   font-size: 20px;  
 }                             
