<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <br>
        <br>
        <br>
        <!-- <img src="../../assets/isca.png" class="logo" alt="logo"> -->
        <br>
        <div text-center>

        </div> 
        <div class="login">
          <ion-item>
            <ion-label>
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </ion-label>
            <ion-input (keyup.enter)="gotoNextField(Field1)" class="box" type="text" [(ngModel)]="phone" placeholder="電話"></ion-input>
          </ion-item>
 
         
        </div>
        <br>
        <div>
          <ion-button class="bg_loginbtn" size="large" (click)="forgetpw()" expand="block">更改密碼</ion-button>
        </div>
      </ion-col>
    </ion-row>
  

  </ion-grid>
</ion-content>

