<ion-header>
  <ion-toolbar>
<ion-buttons slot="start">
  <ion-back-button defaultHref="forgetpassword"></ion-back-button>
</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <br>
        <br>
        <br>
        <!-- <img src="../../assets/isca.png" class="logo" alt="logo"> -->
        <br>
        <div text-center>

        </div> 
        <div class="login">
          <ion-item>
            <ion-label>
              <ion-icon name="lock-closed"></ion-icon>
            </ion-label>
            <ion-input (keyup.enter)="gotoNextField(Field1)" class="box" type="password" [(ngModel)]="this.password" placeholder="輸入密碼"></ion-input>
          </ion-item>
 <br>
          <ion-item >
            <ion-label>
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </ion-label>
            <ion-input #Field1 (keyup.enter)="login()" type="text" [(ngModel)]="this.verified" placeholder="驗證碼" ngModel required></ion-input>

          </ion-item>
        </div>
        <br>
        <div>
          <ion-button class="bg_loginbtn" size="large" (click)="confrimPW()" expand="block">驗證</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
 
