<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    
    <ion-title>confirm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input type="text" placeholder="驗證碼" name="verificationcode" [(ngModel)]="code"></ion-input>
  <ion-button class="submit-btn" full type="submit" (click)="func()">Confirm</ion-button>
  <ion-button class="submit-btn" full type="submit" (click)="this.resendsms()">Resend</ion-button>

</ion-content>
