<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="routedetail"></ion-back-button>
    </ion-buttons>
    <ion-card style="  width:100px; height:30px; text-align:center ;  font-weight: bold; background-color:#3196A8; color: aliceblue; font-size: 22px;">{{this.plate}}</ion-card>
  </ion-toolbar>
</ion-header> 

<ion-content>
  <iframe width="100%" height="30%" [src]="video"  loading="lazy" allow="accelerometer" fetchpriority="low"></iframe>
</ion-content>

